
.center {
    text-align: center !important;
}

select option {
    font-weight: bold !important;
}

html {
    background-color: #fff;
    color: #000
}

body {
    width: 100%;
    transition: opacity .15s linear
}

html {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

*,
*:before,
*:after {
    box-sizing: inherit
}

*:focus {
    border: 0;
    outline: none;
    box-shadow: none
}

body,
p {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

img {
    user-select: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

#section-1 .container {
    background: 0 0;
    padding: 0;
    width: 100%;
    overflow: visible;
    margin: 0 !important
}

.container p {
    max-width: none;
    margin-bottom: 0;
    line-height: 22px
}

.container a,
.container a:hover,
.container a:visited {
    text-decoration: none
}

.template {
    font-family: bentonsans, sans-serif
}

.template .header {
    top: 0;
    left: 0;
    height: 44px;
    width: 100%;
    z-index: 10001;
    padding-top: 20px;
    max-width: 1850px;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width:768px) {
    .template .header {
        height: 44px
    }
    .dd {
        margin-left: 10px !important;
    }
    .long-header {
      font-size: 9px !important;

    }

    .time-display {
        font-size: 15px !important;
    }
}



.template td,
.template th {
    text-align: left
}

.template table {
    width: 100%
}

.template .thead,
.template thead {
    font-family: bentonsans, sans-serif;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px
}

.template .thead .th,
.template thead .th {
    line-height: 15px
}

.template .button {
    font-family: bentonsansmedium, sans-serif;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, .15);
    border-radius: 32px;
    transition: all .15s linear;
    margin: 0
}

.template .button:not(.team-button) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: .20000000298023224px;
    text-align: center
}

.template .button:not(.team-button):hover {
    background-color: #d00;
    color: #fff
}

.template button.team-button {
    padding: 0;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 1px 2px 6px rgba(39, 26, 26, .25);
    padding-top: 8px;
    overflow: hidden;
    width: 100%
}

@media screen and (min-width:768px) {
    .template button.team-button {
        width: 90px
    }
}

.template button.team-button:hover {
    background-color: #fff
}

.template button.team-button img {
    width: 38px;
    margin-left: auto;
    margin-right: auto
}

@media screen and (min-width:375px) {
    .template button.team-button img {
        width: 48px
    }
}

@media screen and (min-width:414px) {
    .template button.team-button img {
        width: 68px
    }
}

.template button.team-button .team-button__record {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
    margin-top: 4px;
    margin-bottom: 4px
}

.template .button img,
.template .button div {
    pointer-events: none
}

.template .section {
    display: none
}

.template select {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    font-size: 16px;
    padding: 8px;
    margin-top: 8px
}

.template .thead .tr {
    background-color: #000
}

.template th,
.template .th {
    font-family: bentonsansmedium, sans-serif;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: .8px;
    padding-top: 12px;
    padding-bottom: 12px
}

.template th:first-child,
.template .th:first-child {
    padding-left: 6px
}

@media screen and (min-width:768px) {

    .template th:first-child,
    .template .th:first-child {
        padding-left: 12px
    }
}

.template .tr {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top: 16px
}

.template td {
    padding-top: 12px;
    padding-bottom: 12px;
    height: 100%
}

.template td:first-child {
    display: flex;
    align-items: center;
    padding-left: 6px
}

@media screen and (min-width:768px) {
    .template td:first-child {
        padding-left: 12px
    }
}

.template td:first-child img {
    max-width: 35px;
    margin-right: 12px
}

.template table {
    margin-top: 45px
}

.template table th:nth-child(1),
.template table td:nth-child(1) {
    padding-right: 6px
}

.template table th:nth-child(2),
.template table td:nth-child(2) {
    width: 30%
}

@media screen and (min-width:414px) {

    .template table th:nth-child(2),
    .template table td:nth-child(2) {
        width: 30%
    }
}

@media screen and (min-width:1024px) {

    .template table th:nth-child(2),
    .template table td:nth-child(2) {
        width: 40%
    }
}

.template table th:nth-child(3),
.template table td:nth-child(3) {
    width: 30%
}

@media screen and (min-width:414px) {

    .template table th:nth-child(3),
    .template table td:nth-child(3) {
        width: auto
    }
}

.template table th:last-child,
.template table td:last-child {
    text-align: right;
    padding-right: 12px;
    width: 70px
}

@media screen and (min-width:768px) {

    .template table th:last-child,
    .template table td:last-child {
        padding-right: 30px;
        width: 50%
    }
}

.template .table {
    margin-top: 45px;
    margin-bottom: 20px
}

.template .table .tbody .tr {
    padding-bottom: 0
}

.template .table .tbody .td {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.template .table .td *+* {
    margin-top: 8px
}

.template .table .td img {
    margin-top: 0
}

.template .table .td p {
    font-size: 13px;
    font-family: bentonsansmedium, sans-serif;
    line-height: 1
}

.template .table .td a {
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    letter-spacing: .8px;
    text-decoration-line: underline;
    text-transform: uppercase;
    transition: all color .1s linear
}

.template .table .td a:hover {
    text-decoration: underline;
    color: #d00
}

.template td,
.template .td {
    color: #000
}

.template td a,
.template .td a {
    color: #000;
    text-decoration: underline;
    font-size: 15px;
    transition: all color .1s linear
}

.template td a:hover,
.template .td a:hover {
    text-decoration: underline;
    color: #d00
}

.template .td:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.template section {
    padding-left: 8px;
    padding-right: 8px
}

@media screen and (min-width:375px) {
    .template section {
        padding-left: 16px;
        padding-right: 16px
    }
}

@media screen and (min-width:768px) {
    .template section {
        padding-left: 90px;
        padding-right: 90px
    }
}

@media screen and (min-width:1024px) {
    .template section {
        padding-left: 0;
        padding-right: 0;
        max-width: 760px;
        margin-left: auto;
        margin-right: auto
    }
}

.template section p {
    color: #595959;
    font-size: 17px;
    line-height: 24px
}

.template .choose-team {
    max-width: 100%;
    background-color: #f1f1f1
}

.template .choose-team>div {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 100px
}

.template .matchup-table .tbody .tr .td {
    flex-direction: row
}

.template .matchup-table .tbody .tr .td .vs {
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 17px
}

@media screen and (min-width:375px) {
    .template .matchup-table .tbody .tr .td .vs {
        padding-left: 1rem;
        padding-right: 1rem
    }
}

@media screen and (min-width:768px) {
    .template .matchup-table .tbody .tr .td .vs {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

.template .matchup-table .tbody .tr .td:nth-child(1),
.template .matchup-table .tbody .tr .td:nth-child(3) {
    font-family: hco tungsten, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 1px
}

.template .show-s-mobile {
    display: block
}

@media screen and (min-width:375px) {
    .template .show-s-mobile {
        display: none
    }
}